/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

 section{
    width: 1200px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 9px;
}
section>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
}

section > div:nth-child(1){
    background-image: url("download1.jpeg");
    background-color: aqua;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(2){
    background: url("download.jpeg");
    background-color: burlywood;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(3) {
    background: url("download (2).jpeg");
    background-color: brown;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(4){
    background: url("download (3).jpeg");
    background-color: chocolate;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(5){
    background: url("images (1).jpeg");
    background-color: chartreuse;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(6){
    background: url("images (2).jpeg");
    background-color: deeppink;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(7){
    background: url("images (3).jpeg");
    background-color: darkcyan;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(8){
    background: url("images (4).jpeg");
    background-size: cover;
    background-color: forestgreen;
    background-position: center;
}

section > div:nth-child(9){
    background: url("images (5).jpeg");
    background-color: darkgoldenrod;
    background-size: cover;
    background-position: center;
}

section > div:nth-child(10){
    background: url("images (6).jpeg");
    background-size: cover;
    background-color: darkred;
    background-position: center;
}

section > div:nth-child(11){
    background: url("images (7).jpeg");
    background-size: cover;
    background-color: darkorchid;
    background-position: center;
}

section > div:nth-child(12){
    background: url("images.jpeg");
    background-size: cover;
    background-color: dimgrey;
    background-position: center;
}