*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    /* background-image: url("assests/photo_2023-06-27_21-35-40.jpg"); */
    background-color: #11050b;
}
body>section:nth-child(1){
    /* position: relative; */
    top: 0;
    width: 100%;
    /* height: 100%; */
    background-image: url("assests/photo_2023-06-27_21-35-40.jpg");
}
header{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    background-size: cover;
    /* background-position: center; */
    background-image: url("assests/photo_2023-06-27_21-35-40.jpg");
}
header>nav{
    position: absolute;
    height: 10vh;
    top: 8px;
    right: 24px;
    z-index: 3;
    position: fixed;
    
}
header>nav>ul>a>li{
    display: inline-block;
    font-weight: bolder;
    position: relative;
    margin-left: 40px;
    text-decoration: none;
    font-size: 1.5vw;
    /* justify-content: center;
    text-align: center; */
}
header>nav>ul>a>li{
    text-decoration: none;
   color: rgb(255, 255, 255);
}
.title1{
    width: auto;
    color: #ffffff;
    font-size: 5vw;
    position:absolute;
    top: 10px;
    left: 2%;
    font-family: Ruthie;
    font-weight: normal;
}
.title2{
    color: #8b044c;;
}
.img1{
    position: absolute;
    /* background-image: url("assests/black\ back.png"); */
    background-repeat: no-repeat;
    background-position:center center;
    right: 10%;
    top: 8%;
    opacity: 55%;
    width: 35vw;
    height: 90vh;
    background-size: cover;
    overflow: hidden;
}
.img2{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    right: 5%;
    top: 3.5%;
    width: 46vw;
    height: 96vh;
    background-size: cover;
    overflow: hidden;
}
.text1{
    position: absolute;
    color: #ffffff;
    top: 25%;
    left: 8%;
    font-size: 4vw;
    font-family: Roboto Flex;
    letter-spacing: 5px;
}
.text2{
    color: #8b044c;
}
.text3{
    color: #5f0334;
    font-size: 5vw;
}
.text4{
    color: #ffffff;
    position: absolute;
    top: 52%;
    left: 8%;
    font-size: 2.5vw;
    letter-spacing: 4px;
    font-family: Roboto  Flex;
}
.btn1{
    position: absolute;
    color: #ffffff;
    background-color:#220012;
    width: 7vw;
    height: 3vh;
    font-size: 2.1vh;
    padding: 10px 20px;
    top: 64%;
    overflow: hidden;
    margin: 8px 0;
    left: 8%;
    text-align: center;
    border-radius: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;


}
.btn1:hover{
    background: #3b0028;
    color: #ffffff;
    box-shadow: 0 0 5px #3b0028,
                0 0 25px #3b0028,
                0 0 50px #3b0028,
                0 0 200px #3b0028;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(102, 11, 54, 0.356));
}
body>header>div{
    position: absolute;
    width: 30vw;
    display: flex;
    font-size: 3.5vw;
    justify-content: space-evenly;
    bottom: 0;
    left: 6.5%;
}
main{
    position: absolute;
    display: inline;
    top: 100vh;
    min-height: 100vh;
    
}
main>section:nth-child(1){
    position:absolute;
    background-color: #0f0209;
}
main>section:nth-child(1)>div:nth-child(1){
  
}
.img3{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 30vw;
    height: 85vh;
    border-radius: 4vw;
}