*{
    scroll-behavior: smooth;
    margin: 0;
    /* padding: 0; */
}
header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-size: cover;
    /* background-color: #220012; */
    z-index: 10;
}
header>nav{
    position: absolute;
    height: 10vh;
    top: 8px;
    right: 24px;
    z-index: 3;
    position: fixed;
    
}
header>nav>ul>a>li{
    display: inline-block;
    font-weight: bolder;
    position: relative;
    margin-left: 40px;
    text-decoration: none;
    font-size: 1.5vw;
    /* justify-content: center;
    text-align: center; */
}
header>nav>ul>a>li{
    text-decoration: none;
   color: rgb(255, 255, 255);
}
header>nav>ul>a>li::after{
    content: '';
    width: 0;
    height: 4px;
    background: #c3cecdc4;
    position: absolute;
    left: 0;
    border-radius: 5px;
    bottom: -6px;
}
header>nav>ul>a>li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.title1{
    width: auto;
    color: #ffffff;
    font-size: 4vw;
    position:absolute;
    top: 4px;
    left: 2%;
    font-family: Ruthie;
    font-weight: normal;
}
.title2{
    color: #8b044c;;
}
body>main{
    position: relative;
}
main>div:nth-child(1){
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url("assests/photo_2023-06-27_21-35-40.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
}
main>section:nth-child(1){
    position:relative;
    height: 95vh;
    width: 100%;
}
#home>img:nth-child(1){
    position: absolute;
    background-repeat: no-repeat;
    background-position:center center;
    right: 5vw;
    top: 10vh;
    opacity: 55%;
    width: 35vw;
    height: 90vh;
    background-size: cover;
    overflow: hidden;
}
#home>img:nth-child(2){
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    right: 5%;
    top: 0;
    width: 40vw;
    height: 99.8vh;
    background-size: cover;
    overflow: hidden;
}
.text1{
    position: absolute;
    color: #ffffff;
    top: 25vh;
    left: 8%;
    font-size: 3.5vw;
    font-family: Roboto Flex;
    letter-spacing: 5px;
}
.text2{
    color: #8b044c;
}
.text3{
    color: #5f0334;
    font-size: 3.5vw;
}
.text4{
    color: #ffffff;
    position: absolute;
    top: 48vh;
    left: 8%;
    font-size: 2.5vw;
    letter-spacing: 4px;
    font-family: Roboto  Flex;
}
.btn1{
    position: absolute;
    color: #ffffff;
    background-color:#220012;
    width: 7vw;
    height: 3vh;
    font-size: 2.1vh;
    padding: 10px 20px;
    top: 60vh;
    overflow: hidden;
    margin: 8px 0;
    left: 8%;
    text-align: center;
    border-radius: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;


}
.btn1:hover{
    background: #3b0028;
    color: #ffffff;
    box-shadow: 0 0 5px #3b0028,
                0 0 25px #3b0028,
                0 0 50px #3b0028,
                0 0 200px #3b0028;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(102, 11, 54, 0.356));
}
.iconlist{
    position: absolute;
    width: 30vw;
    display: flex;
    font-size: 3.5vw;
    justify-content: space-evenly;
    bottom: 0;
    top: 85vh;
    left: 6.5%;
}
main>section:nth-child(3){
    width: 100%;
    height: 170vh;
    position: relative;
    top: 100vh;
    background-color:#3b0028;
}
#aboutMe>img{
    position: relative;
    border-radius: 5vw;
    height: 90vh;
    width: 30vw;
    left: 4vw;
    top: 5vh;
}
#aboutMe>hr{
    position: absolute;
    color: #acacacab;
    height: 88vh;
    left: 40vw;
    top: 7vh;
}
.abt{
    position: absolute;
    color:#8b044c;
    top: 10vh;
    left: 42vw;
    font-size: 2.9vw;
    letter-spacing: 0.2vw;
    font-family: Roboto Flex;
    font-weight: bolder;
}
main>section:nth-child(3)>p{
    position: absolute;
    color: #ffffff;
    font-size: 2.2vw;
    font-weight:500;
    left: 42vw;
    top: 20vh;
}
main>section:nth-child(3)>ul{
    position: absolute;
    top: 50vh;
    left: 39.5vw;
}
main>section:nth-child(3)>ul>li{
    list-style: none;
    /* margin: 2vh 0; */
    position: relative;
    color: #ffffff;
    font-size: 3vh;
    font-weight:500;
}
main>section:nth-child(3)>ul>li>span{
    color: #8b044c;
    font-weight: bolder;
}
main>section:nth-child(3)>h1{
    color: #ffffff;
    font-size: 6vh;
    top: 100vh;
    left: 4.5%;
    position: absolute;
}
.contents{
    padding: 0 3vh;
    border-left: 0.2vw solid #b993a2;
    font-size: 3vh;
    position: absolute;
    top: 110vh;
    left: 45%;

}
.contents h3{
    color: #8d003b;
    font-size: 3vh;
    font-family: Roboto Flex;
}
.contents h4{
    color: #837d7d;
    font-family: Roboto Flex;
    font-size: 2vh;
}
.box1{
    position: relative;
    padding: 1vw;
    border: 0.1vw solid #0f0f0f;
    background-color: #131010;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 1vw;
    margin-bottom: 5vh;
}
.box2{
    position:relative;
    left: -110%;
    top: 5vh;
    width: 20vw;
    border: 0.1vw solid #0f0f0f;
    background-color: #131010;
    padding: 1vh; 
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 1vw;
    margin-bottom: -6vh;
}
.box1:hover{
    box-shadow: 0px 3px 40px 0px #d40987;
    border: 10px solid transparent;
}
.box2:hover{
    box-shadow: 0px 3px 40px 0px #d40987;
    border: 10px solid transparent
}
#service{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 100vh;
    background-color:#3a0628;
}
.ser{
    position: absolute;
    color: white;
    font-size: 6vh;
    left: 5%;
    font-weight: 600;
}
.container{
    width: 100%;
    position: absolute;

}
.services-list{
    top: 15vh;
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 5vw;
}
.services-list>div{
    width: 25vw;
    height: 60vh;
    background-color: #333333;
    margin: 2vw;
    position: relative;
    border-radius: 2vw;
    transition: 0.5s, transform 0.5s;
}
.services-list>div>i{
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 7vh;
}
.services-list>div>h2{
    position: absolute;
    font-size: 5vh;
    top: 20%;
    left: 8%;
    color: rgb(233, 227, 227);
}
.services-list>div>p{
    position: absolute;
    color: rgb(172, 161, 161);
    font-size: 3vh;
    font-weight: 550;
    top: 50%;
    left: 8%;
}
.services-list>div>a{
    color: #c7bfbf;
    text-decoration: none;
    font-size: 3vh;
    top: 80%;
    left: 8%;
    position: absolute;
}
.services-list div:hover{
    background: #29021d;
    transform: translateY(-10px);
}
#portfolio{
    width: 100%;
    height: 200vh;
    position: relative;
    top: 100vh;
    background-color:#3a0628;
}
.work{
    font-family: Roboto Flex;
    font-size: 5.5vh;
    position: absolute;
    color: white;
    font-weight: 600;
    left: 5vw;
}
.W-section1{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(7vw,1fr)); */
    grid-gap: 1vw;
    margin-top: 1vh;
    border: 0.5vw #837d7d; 
    background-color: #272727;
    position: absolute;
    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    top:15vh;
    border-radius: 2vw;
    left: 5%;
    width: 23vw;
    height: 60vh;
    
}
.W-section2{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(7vw,1fr)); */
    grid-gap: 1vw;
    margin-top: 1vh;
    border: 0.5vw #837d7d; 
    background-color: #272727;
    position: absolute;
    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    top:15vh;
    border-radius: 2vw;
    left: 35%;
    width: 23vw;
    height: 60vh;
}
.W-section3{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(7vw,1fr)); */
    grid-gap: 1vw;
    margin-top: 1vh;
    border: 0.5vw #837d7d; 
    background-color: #272727;
    position: absolute;
    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    top:15vh;
    border-radius: 2vw;
    left: 65%;
    width: 23vw;
    height: 60vh;
}
.work-list div div i{
    font-size:4vh;
    position: absolute;
    font-weight: bolder;
    top: 10vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
    margin-left: 0vw;
}
.work-list div h2{
    font-family: Roboto Flex;
    font-size: 2.5vh;
    color: #eecedc;
    font-weight: bolder;
    position: absolute;
    top: 20%;
    padding-left: 2vw;
}
.work-list div p{
    font-family: Roboto Flex;
    color: #fffdfe;
    font-weight: bolder;
    font-size: 2vh;
    margin-top: 5vh;
    position: absolute;
    top: 20vh;
    padding-left: 2vw;
}

.work-list div a{
    text-decoration: none;
    font-size: 5vh;
    color: #ffffff;
    position: absolute;
    top: 40vh;
    padding-left: 0;
}
.veterinary{
    position: absolute;
    width: 100%;
    border-radius: 2vw;
    height: 100%;
    opacity: 30%;
    transition: transform 0.5s;
}
.chat{
    position: absolute;
    width: 100%;
    border-radius: 2vw;
    height: 100%;
    opacity: 30%;
    transition: transform 0.5s;
}
.pet{
    position: absolute;
    width: 100%;
    border-radius: 2vw;
    height: 100%;
    opacity: 30%;
    transition: transform 0.5s;
}
.layer1{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),#8a042c);
    border-radius: 2vw;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: left;
    transition: height 1s;
}
.layer2{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),#8a042c);
    border-radius: 2vw;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: left;
    transition: height 1s;
}
.layer3{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),#8a042c);
    border-radius: 2vw;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: left;
    transition: height 1s;
}
.layer1 a i{
    color: #e93c70;
    font-size: 4vh;
    margin-top: 2vh;
    line-height: 5vh;
    width: 3vw;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
}
.layer2 a i{
    color: #e93c70;
    font-size: 4vh;
    margin-top: 2vh;
    line-height: 5vh;
    width: 3vw;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
}
.layer3 a i{
    color: #e93c70;
    font-size: 4vh;
    margin-top: 2vh;
    line-height: 5vh;
    width: 3vw;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
}
/* .work-list:hover div img{
    transform: scale(1.05);
} */
.W-section1:hover .layer1{
    width: 100%;
    height: 100%;
}
.W-section2:hover .layer2{
    height: 100%;
}
.W-section3:hover .layer3{
    height: 100%;
}
/* .contents{
    padding: 0 3vh;
    border-left: 0.2vw solid #b993a2;
    font-size: 3vh;
    position: absolute;
    top: 10vh;
    left: 45%;

}
.contents h3{
    color: #8d003b;
    font-size: 3vh;
    font-family: Roboto Flex;
}
.contents h4{
    color: #837d7d;
    font-family: Roboto Flex;
    font-size: 2vh;
}
.box1{
    position: relative;
    padding: 3vw;
    border: 0.1vw solid #0f0f0f;
    background-color: #131010;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 1vw;
    margin-bottom: -6vh;
}
.box2{
    position:relative;
    left: -400px;
    top: 35px;
    border: 1px solid #0f0f0f;
    background-color: #131010;
    padding: 30px; 
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: -6vh;
}
.box1:hover{
    box-shadow: 0px 3px 40px 0px #d40987;
    border: 10px solid transparent;
}
.box2:hover{
    box-shadow: 0px 3px 40px 0px #d40987;
    border: 10px solid transparent
} */
/* .img1{
    position: absolute;
    background-repeat: no-repeat;
    background-position:center center;
    right: 10%;
    top: 8%;
    opacity: 55%;
    width: 35vw;
    height: 90vh;
    background-size: cover;
    overflow: hidden;
} */
/* .img2{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    right: 5%;
    top: 3.5%;
    width: 46vw;
    height: 96vh;
    background-size: cover;
    overflow: hidden;
}
.text1{
    position: absolute;
    color: #ffffff;
    top: 25%;
    left: 8%;
    font-size: 4vw;
    font-family: Roboto Flex;
    letter-spacing: 5px;
}
.text2{
    color: #8b044c;
}
.text3{
    color: #5f0334;
    font-size: 5vw;
}
.text4{
    color: #ffffff;
    position: absolute;
    top: 52%;
    left: 8%;
    font-size: 2.5vw;
    letter-spacing: 4px;
    font-family: Roboto  Flex;
}
.btn1{
    position: absolute;
    color: #ffffff;
    background-color:#220012;
    width: 7vw;
    height: 3vh;
    font-size: 2.1vh;
    padding: 10px 20px;
    top: 64%;
    overflow: hidden;
    margin: 8px 0;
    left: 8%;
    text-align: center;
    border-radius: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;


}
.btn1:hover{
    background: #3b0028;
    color: #ffffff;
    box-shadow: 0 0 5px #3b0028,
                0 0 25px #3b0028,
                0 0 50px #3b0028,
                0 0 200px #3b0028;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(102, 11, 54, 0.356));
}
body>header>div{
    position: absolute;
    width: 30vw;
    display: flex;
    font-size: 3.5vw;
    justify-content: space-evenly;
    bottom: 0;
    left: 6.5%;
}
main{
    position: absolute;
    top: 100vh;
    
} */
/* main>section:nth-child(2){
    background-color: #0f0209;
} */
/* main>section:nth-child(1)>div:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
} */
/* .img3{
    position: absolute;
    background-image: url("assests/662a1832-2d45-4e5f-8be5-138431c04ffd2.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    overflow: hidden;
    top: 10vh;
    left: 5vw;
    width: 30vw;
    height: 85vh;
    border-radius: 4vw;
}
main>section:nth-child(2)>hr{
    position: absolute;
    color: #acacacab;
    height: 88vh;
    left: 40vw;
    top: 9vh;
} */
/* main>section:nth-child(1)>div:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
} */
/* .abt{
    position: relative;
    color:#8b044c;
    top: 10vh;
    left: 42vw;
    font-size: 2.9vw;
    letter-spacing: 0.2vw;
    font-family: Roboto Flex;
    font-weight: bolder;
} */
/* main>section:nth-child(1)>div:nth-child(2)>p{
    position: relative;
    color: #ffffff;
    font-size: 2.2vw;
    font-weight:500;
    left: 42vw;
    top: 15vh;
}
main>section:nth-child(1)>ul{
    position: relative;
    top: 20vh;
    left: 40vw;
}
main>section:nth-child(1)>ul>li{
    list-style: none;
    margin: 2vh 0;
    position: relative;
    color: #ffffff;
    font-size: 2vw;
    font-weight:500;
}
main>section:nth-child(1)>ul>li>span{
    color: #8b044c;
    font-weight: bolder;
}
main>section:nth-child(2){
    position: absolute;
    bottom: 10vh;
    width: fit-content;
}
main>section:nth-child(2)>div{
    left: 0;
    right: 0;
    position:absolute;
    width: 100%;
    background-color: #1d0712;
}
main>section:nth-child(2)>div>h1{

    color: #ffffff;
    top: 38vh;
    left: 5vw;
    font-size: 3vw;

} */