/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Arial, sans-serif;
} */
body{
    background-color: #423b3b;
}
main>h2{
    position: absolute;
    color: white;
    font-size: 40px;
    top: 24px;
    left: 39%;
    margin: auto;
    letter-spacing: 4px;
}
#sp{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 39%;
}
#speed{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 45%;
}
#wt{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 49%;
}
#time{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 60.5%;
}
.box>div{
    position: absolute;
    width: 190px;
    height: 70px;
    background-color: white;
}